<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <script is:inline src="/scripts/index-redirect.js"></script> -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index redirecting...</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.resumen {
			background-color: #c1e6c1;
			padding: 10px;
			text-align: center;
		}
		.imprimir-btn {
			cursor: pointer;
		}
		.mesa-link {
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div class="card">
		<div class="card-header">Pendiente</div>
		<div class="card-body">
			<p class="card-text"><strong>Mesa 4 (17:38)</strong> 99,99€</p>
			<ul>
				<li>Café 1 - 7,99€</li>
				<li>Café 2 - 5,88€</li>
				<li>Macarrones - 4,55€</li>
				<li>Bocadillo 1 - 3,88€</li>
				<li>Bocadillo 2 - 3,67€</li>
			</ul>
			<div class="resumen">
				Resumen del día: 99,99€
			</div>
			<button class="btn btn-primary imprimir-btn" data-toggle="modal" data-target="#mesa4">Imprimir</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header">Pendiente</div>
		<div class="card-body">
			<p class="card-text"><strong>Mesa 4 (17:38)</strong> 99,99€</p>
			<ul>
				<li>Café 1 - 7,99€</li>
				<li>Café 2 - 5,88€</li>
				<li>Macarrones - 4,55€</li>
				<li>Bocadillo 1 - 3,88€</li>
				<li>Bocadillo 2 - 3,67€</li>
			</ul>
			<div class="resumen">
				Resumen del día: 99,99€
			</div>
			<button class="btn btn-primary imprimir-btn" data-toggle="modal" data-target="#mesa4">Imprimir</button>
		</div>
	</div>
</body>
</html>