---

---

<section class="  border border-black/10 shadow-inner bg-slate-800/20 shadow-white/10 group" id="">

    <div class="tablets">
		<table>
			<thead>
				<tr>
					<th>Tablet</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Tablet 1</td>
					<td>
						<select>
							<option value="operativa">Operativa</option>
							<option value="desconectada">Desconectada</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Tablet 2</td>
					<td>
						<select>
							<option value="operativa">Operativa</option>
							<option value="desconectada">Desconectada</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Tablet 3</td>
					<td>
						<select>
							<option value="operativa">Operativa</option>
							<option value="desconectada">Desconectada</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</section>

<style>
	.container {
		display: flex;
		
	}
	.mapa {
		flex: 1;
		
	}
	.tablets {
		width: 200px; /* Ajusta el ancho según sea necesario */
		margin-left: auto; /* Esto moverá la tabla hacia la derecha */
		
	}
	table {
		width: 100%;
		border-collapse: collapse;
		
	}
	th, td {
		padding: 8px;
		text-align: left;
		border-bottom: 1px solid #000000;
	}
	td {
		color: black;
	}
	th {
		background-color: #000000;
	}
	select {
		width: 100%;
		padding: 8px;
		border: 1px solid #000000;
		border-radius: 4px;
		color: black;
	}
</style>