<div><p></p></div>
<div class="icon-container">
    <a href="bebidas">
        <img src="/assets/bebidas.png" id="icono1" class="icon">
    </a>
    <a href="bocadillos">
        <img src="/assets/bocadillos.png" id="icono2" class="icon">
    </a>
    <a href="cafes">
        <img src="/assets/cafes.png" id="icono3" class="icon">
    </a>
    <a href="pastas">
        <img src="/assets/pastas.png" id="icono4" class="icon">
    </a>
</div>
<style>
    
    .icon-container {
    display: flex;
    justify-content: space-around;
}
.icon {
    width: 50px; /* ajusta el tamaño según lo necesites */
    cursor: pointer;
}
</style>