<table>

    <thead>
      <tr>
        <th>Producto</th>
        <th>Estado</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
        <slot />
    </tbody>
  </table>
<style>
    table {
      border-collapse: collapse;
      width: 50%;
      margin: 100px auto;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    
  </style>