<div>
    <slot />
</div>

<style>
    div{
        background-color: #333;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
    }
    .nav-bar{
        position:relative;
        top: 97px;
        z-index: 100;
        width:34%;
    }
</style>