---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script is:inline src="/scripts/nav.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <img src="rubricatus_logo.jpg" class="">
    <div class="container-fluid centered">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/mapa">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pendientes">Pendientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/completados">Completados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventario">Inventario</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
    img{
        width: 15%;
        height: 15%;
        margin: #23262d;
    }

    li {
      margin : 0 1.6em;
      font-size: 1.8em;
    }

    .centered {
      margin-left: 16%;
    }
  </style>

</html>
